[submodule "vender/LLVM"]
	path = vender/LLVM
	url = https://github.com/llvm/llvm-project/
[submodule "SympleLang/vendor/spdlog"]
	path = SympleLang/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SympleLang/vendor/llvm-c"]
	path = SympleLang/vendor/llvm-c
	url = https://github.com/TeddyTelanoff/llvm-c
[submodule "SympleEditor/vendor/glfw"]
	path = SympleEditor/vendor/glfw
	url = https://github.com/glfw/glfw
